<div class="row justify-content-center">
    <div class="col-md-6">

        <div class="card text-center">
            <div class="card-body">
                <h1 class="display-4">InternetID</h1>
                <p class="lead">
                    Securely log into online services with InternetID.
                </p>
                @if (User.Identity.IsAuthenticated)
                {
                    <hr />

                    <h2>Hello @User.Identity.Name</h2>

                    <a class="btn btn-outline-primary me-2" asp-page="/Profile" title="Manage">Manage your InternetID</a>
                    <form class="d-inline" asp-page="/Logout">
                        <button type="submit" class="btn btn-outline-primary me-2">Logout</button>
                    </form>
                }
                else
                {
                    <a class="btn btn-outline-primary me-2" asp-page="/Login">Login</a>
                    <a class="btn btn-outline-primary" asp-page="/Register">Sign up</a>
                }
            </div>
        </div>

    </div>
</div>