@inject Microsoft.Extensions.Options.IOptions<InternetId.Common.InternetIdOptions> internetIdOptions

<div class="row justify-content-center">
    <div class="col-md-6">

        <div class="card mb-3">
            <div class="card-body text-center">

                <h1 class="display-4">@internetIdOptions.Value.Title</h1>
                <p class="lead">
                    Securely log into online services with @internetIdOptions.Value.Title.
                </p>

                @if (!User.Identity!.IsAuthenticated)
                {
                    <p>
                        <a class="btn btn-outline-primary me-2" asp-page="/Login">Login</a>
                        <a class="btn btn-outline-primary" asp-page="/Register">Sign up</a>
                    </p>
                }

            </div>
        </div>

        @if (User.Identity!.IsAuthenticated)
        {
            <div class="card mb-3">
                <div class="card-body text-center">

                    <h2>Hello @User.Identity.Name</h2>

                    <a class="btn btn-outline-primary me-2" asp-page="/Profile" title="Manage">Manage your @internetIdOptions.Value.Title</a>
                    <form class="d-inline" asp-page="/Logout">
                        <button type="submit" class="btn btn-outline-primary me-2">Logout</button>
                    </form>

                </div>
            </div>
        }

    </div>
</div>
