@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<div class="card">
    <div class="card-body">

        <div class="text-center">
            <h1>Manage Your Account</h1>
            <p class="lead">Change your account settings</p>
        </div>

        <hr />

        <div class="row">
            <div class="col-md-3">
                <partial name="_ManageNav" />
            </div>
            <div class="col-md-9">
                @RenderBody()
            </div>
        </div>

    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
