@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<div class="card">
    <div class="card-body">

        <h1>@ViewData["Title"]</h1>
        <div class="alert alert-danger">You do not have access to this resource.</div>

    </div>
</div>