@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<div class="card">
    <div class="card-body">

        <h1>@ViewData["Title"]</h1>

        <div asp-validation-summary="All" class="text-danger"></div>

        @if (ModelState.IsValid)
        {
            <p class="alert alert-info">
                Confirmed!
            </p>
            <p>
                If you were trying to log into an app or online service in another device or window you may want to return to it, or you can <a asp-page="Login">click here to manage your InternetID</a>.
            </p>
        }
        else
        {
            <p>
                <a class="btn btn-outline-primary" asp-page="ResendEmailConfirmation" asp-route-return-url="@Model.ReturnUrl">Request another confirmation link</a>
            </p>
        }

    </div>
</div>
