@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<div class="card">
    <div class="card-body">
        <h1>@ViewData["Title"]</h1>

        <div asp-validation-summary="All" class="text-danger"></div>

        @if (ModelState.IsValid)
        {
            <p class="lead">
                Thank you for confirming your email.
                @if (Model.ReturnUrl != null)
                {
                    <a href="@Model.ReturnUrl">Continue</a>
                }
            </p>
        }
        else
        {
            <p class="lead">
                <a class="btn btn-outline-primary" asp-page="./ResendEmailConfirmation" asp-route-return-url="@Model.ReturnUrl">Request another confirmation code</a>
            </p>
        }

    </div>
</div>
