@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<div class="card">
    <div class="card-body">

        <h1>@ViewData["Title"]</h1>

        <div asp-validation-summary="All" class="text-danger"></div>

        @if (ModelState.IsValid)
        {
            <p class="lead">
                Thank you for confirming your email.
                <a class="btn btn-outline-primary" href="~/">OK</a>
            </p>
        }
        else
        {
            <p class="lead">
                <a class="btn btn-outline-primary" asp-page="./ResendEmailConfirmation">Request another confirmation code</a>
            </p>
        }

    </div>
</div>
