@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}

<div class="card">
    <div class="card-body">

        <h1>@ViewData["Title"]</h1>
        <div class="alert alert-danger">This account has been locked out, please try again later.</div>

    </div>
</div>