@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Account confirmation";
}

<div class="card">
    <div class="card-body">

        <h1 class="text-center">@ViewData["Title"]</h1>
        <p class="alert alert-info">
            We sent you an email with a confirmation link.
        </p>
        <p>
            Please click the link in that email to finish the account confirmation process.
            Check your spam/junk mail folder if you don't see it in your main email folder.
        </p>
        @if (Model.ReturnUrl != null)
        {
            <p>
                Once you have confirmed your account <a href="@Model.ReturnUrl">click here to continue</a>.
            </p>
        }

    </div>
</div>