@page
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = "Resend email confirmation";
}

<div class="card">
    <div class="card-body">

        <div class="text-center">
            <h1>@ViewData["Title"]</h1>
            <p class="lead">We need to send you an account confirmation email. Please enter your username or email below.</p>
        </div>

        <hr />

        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            @if (Model.Message != null)
            {
                <div class="alert alert-success mb-3">
                    @Model.Message
                </div>
            }
            <div class="mb-3">
                <label asp-for="Input.UsernameOrEmail"></label>
                <input asp-for="Input.UsernameOrEmail" class="form-control" />
                <span asp-validation-for="Input.UsernameOrEmail" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Resend</button>
        </form>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
