@page
@model AccessDeniedModel

@{
    ViewData["Title"] = "Access denied";
}

<div class="card mb-3">
    <div class="card-body">

        <div class="text-center">
            <h1>@ViewData["Title"]</h1>
            <p class="lead">
                You do not have permission to access the requested page or resource.
                @if (Model.ReturnUrl != null)
                {
                    @:You were trying to access <a href="@Model.ReturnUrl">@Model.ReturnUrl</a>.
                }
            </p>
        </div>

    </div>
</div>

<div class="card mb-3">
    <div class="card-body">

        <ul>
            <li>
                Forgot your password? <a id="forgot-password" asp-page="./ForgotPassword">Reset it here</a>
            </li>
            <li>
                Don't have an InternetID? <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Sign up here</a>
            </li>
        </ul>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
