@page
@model AccessDeniedModel

@{
    ViewData["Title"] = "Access denied";
}

<div class="card mb-3">
    <div class="card-body text-center">

        <h1>@ViewData["Title"]</h1>
        <p class="lead">
            You do not have permission to access the requested page or resource.
            @if (Url.IsLocalUrl(Model.ReturnUrl))
            {
                @:You were trying to access <a href="@Model.ReturnUrl">@Model.ReturnUrl</a>.
            }
        </p>

    </div>
</div>

<div class="card mb-3">
    <div class="card-body text-center">

        <a class="btn btn-outline-primary" href="~/">Home</a>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
