@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change Password";
}

<div class="card mb-3">
    <div class="card-body">

        <h1 class="text-center">@ViewData["Title"]</h1>

        <p class="lead text-center">
            Change your password
        </p>

        <hr />

        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <fieldset>
                <div class="mb-3">
                    <label asp-for="Input.Login"></label>
                    <input asp-for="Input.Login" class="form-control" autofocus />
                </div>
                <div class="mb-3">
                    <label asp-for="Input.CurrentPassword"></label>
                    <input asp-for="Input.CurrentPassword" class="form-control" />
                </div>
                <fieldset>
                    <legend>New password</legend>
                    <div class="mb-3">
                        <label asp-for="Input.NewPassword"></label>
                        <input asp-for="Input.NewPassword" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label asp-for="Input.ConfirmPassword"></label>
                        <input asp-for="Input.ConfirmPassword" class="form-control" />
                    </div>
                </fieldset>
            </fieldset>
            <div>
                <button type="submit" class="btn btn-primary">Change password</button>
            </div>
        </form>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
