@page
@model PasswordChangeModel
@{
    ViewData["Title"] = "Change password";
}

<div class="card mb-3">
    <div class="card-body">

        <div class="text-center">
            <h1>@ViewData["Title"]</h1>
            <p class="lead">Set a new password</p>
        </div>

        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <fieldset>

                <div class="mb-3">
                    <label asp-for="Input.Identifier"></label>
                    <input asp-for="Input.Identifier" class="form-control" />
                </div>
                <div class="mb-3">
                    <label asp-for="Input.CurrentPassword"></label>
                    <input asp-for="Input.CurrentPassword" class="form-control" autofocus />
                </div>

                <div class="card mb-3">
                    <div class="card-body">

                        <div class="mb-3">
                            <label asp-for="Input.NewPassword"></label>
                            <input asp-for="Input.NewPassword" class="form-control" />
                        </div>
                        <div class="mb-3">
                            <label asp-for="Input.ConfirmPassword"></label>
                            <input asp-for="Input.ConfirmPassword" class="form-control" />
                        </div>

                    </div>
                </div>
            </fieldset>
            <div class="d-flex justify-content-between">
                <button type="submit" class="btn btn-primary">Change password</button>
                <a asp-page="Profile" class="btn btn-outline-primary">Cancel</a>
            </div>
        </form>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
