@page
@model ProfileEditorModel
@{
    ViewData["Title"] = "Profile editor";
}

<div class="card mb-3">
    <div class="card-body">

        <div class="text-center">
            <h1>@ViewData["Title"]</h1>
            <p class="lead">Update your profile</p>
        </div>

        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <fieldset>

                <div class="mb-3">
                    <label asp-for="Input.DisplayName"></label>
                    <input asp-for="Input.DisplayName" class="form-control" />
                </div>

            </fieldset>
            <div class="d-flex justify-content-between">
                <button type="submit" class="btn btn-primary">Save changes</button>
                <a asp-page="Profile" class="btn btn-outline-primary">Cancel</a>
            </div>
        </form>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
