@page
@model RegisterModel
@{
    ViewData["Title"] = "Sign Up";
}

<div class="card mb-3">
    <div class="card-body">

        <h1 class="text-center">@ViewData["Title"]</h1>

        <p class="lead text-center">
            Register a new InternetID
        </p>

        <hr />

        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <fieldset>
                <div class="mb-3">
                    <label asp-for="Input.Username"></label>
                    <input asp-for="Input.Username" class="form-control" autofocus />
                </div>
                <div class="mb-3">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                </div>
                <div class="mb-3">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                </div>
                <div class="mb-3">
                    <label asp-for="Input.DisplayName"></label>
                    <input asp-for="Input.DisplayName" class="form-control" />
                </div>
                <fieldset>
                    <legend>Account recovery</legend>
                    <p>Enter an email address if you would like to be able to reset your password or recover your InternetID with it.</p>
                    <div class="mb-3">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                    </div>
                </fieldset>
            </fieldset>
            <div>
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </form>

    </div>
</div>

<div class="card mb-3">
    <div class="card-body">

        <ul>
            <li>
                Forgot your password? <a id="forgot-password" asp-page="./ForgotPassword">Reset it here</a>
            </li>
            <li>
                Already have an InternetID? <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Login here</a>
            </li>
        </ul>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
